.Slide-Wrapper{
    width: 80vw;
    margin: auto;
    background-color: yellow;
    border-radius: 0%;
    height: 450px;
}
.swiper-button-next,
.swiper-button-prev {
    color: rgba(0, 0, 0, 0.6) !important ; 
    background-color: #fff;
    border-radius: 100%; 
    width: 40px !important; 
    height: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 18px !important;
    font-weight: bold;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: rgba(232, 225, 225, 0.6); 
    transition: 0.3s ease-in-out; 
}
.swiper-button-next:active,
.swiper-button-prev:active {
    background-color: rgba(232, 225, 225, 0.6); 
    transition: 0.3s ease-in-out; 
    transform: scale(.9); 
}

